<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.alfred-kindle</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>24764E8D-FF48-42E7-9B54-E9D177080FA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61FE5DD2-9A3A-41E9-BA16-BCC00A3DD6C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>487CE6DD-5966-4E3E-9D67-EF1D60023887</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24764E8D-FF48-42E7-9B54-E9D177080FA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61FE5DD2-9A3A-41E9-BA16-BCC00A3DD6C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9F9AE76-99B2-4432-91CD-AF8D39A92E25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E679B9F4-22A7-4B7E-BE1B-3C42FEF03055</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5330E514-8491-49F5-98D8-DED98E264BC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ECE7CAD-1161-4D39-A35A-DF2BD59EED1D</key>
		<array/>
		<key>BA9E997F-E08E-4947-BBB4-8BF84341ED1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C201E860-5900-49B2-8980-4B8E5DA0A4C8</key>
		<array/>
		<key>C9F9AE76-99B2-4432-91CD-AF8D39A92E25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28939AD5-7FDB-44B4-87C5-BFCA352716C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C201E860-5900-49B2-8980-4B8E5DA0A4C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>487CE6DD-5966-4E3E-9D67-EF1D60023887</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>search this book</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Browse and open your eBooks with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>eBooks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>28939AD5-7FDB-44B4-87C5-BFCA352716C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

tell application "System Events"
	tell process "Books"
		-- Give Books a moment to settle its window state
		delay 0.5

		repeat with w in windows
			try
				set wName to name of w as text
				set roleDesc to role description of w

				-- Only close the main library window
				if wName is "All" or roleDesc is "main window" then
					if (exists button 1 of w) then
						click button 1 of w
						do shell script "echo Closed library window (" &amp; quoted form of wName &amp; ") 1&gt;&amp;2"
					end if
				else
					do shell script "echo Skipped window: " &amp; quoted form of wName &amp; " [" &amp; roleDesc &amp; "] 1&gt;&amp;2"
				end if

			on error errMsg
				do shell script "echo Error: " &amp; quoted form of errMsg &amp; " 1&gt;&amp;2"
			end try
		end repeat
	end tell
end tell


end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5603FD39-F2B3-4FF3-A373-E25879D5BD7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳...fetching Kindle info...</string>
				<key>script</key>
				<string>query=$1
export PYTHONPATH="$PWD/lib"
/usr/bin/python3 kindle-query.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>alfred-kindle 📚</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C201E860-5900-49B2-8980-4B8E5DA0A4C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BA9E997F-E08E-4947-BBB4-8BF84341ED1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:markdown}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C9F9AE76-99B2-4432-91CD-AF8D39A92E25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>drill_down_book</string>
						<key>outputlabel</key>
						<string>Markdown</string>
						<key>uid</key>
						<string>E679B9F4-22A7-4B7E-BE1B-3C42FEF03055</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>61FE5DD2-9A3A-41E9-BA16-BCC00A3DD6C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:refreshkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳...please wait while I refresh...</string>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"
/usr/bin/python3 library-rebuild.py
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>refresh library database 👀</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C4CF391F-F6A5-48BE-B5D0-B018D1393DA7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!ksearch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳...fetching Kindle info...</string>
				<key>script</key>
				<string>query=$1
export PYTHONPATH="$PWD/lib"
/usr/bin/python3 searchEPUB.py "$1" --book="$curr_book" --alfred
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>searching... 📚</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>mainSearch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24764E8D-FF48-42E7-9B54-E9D177080FA5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>curr_book</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>487CE6DD-5966-4E3E-9D67-EF1D60023887</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>curr_book</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7ECE7CAD-1161-4D39-A35A-DF2BD59EED1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>mainSearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5330E514-8491-49F5-98D8-DED98E264BC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-eBooks 📚
List and open your Kindle and Apple Books ebooks with Alfred


## Motivation ✅

- Quickly list, search, and open your eBooks


## Setting up ⚙️

- Alfred 5 with Powerpack license
- Python3
- Kindle app installed



### Default settings 
- In Alfred, open the 'Configure Workflow' menu in `alfred-eBooks` preferences
	- set the keyword for the workflow (default: `!k`)
	- set the keyword to force an update (default: `::books-refresh`)
	- set the book content icon, i.e. if a book has been downloaded locally (default: 📘)
	- set the 'ghost' book icon, i.e. if a book has not been downloaded or previously loaned (default: 👻)
	- show 'ghost' books (i.e. books not downloaded, or previously loaned)?  (default: yes)
	- set target library (Kindle, Apple Books, or both. Default: 'Both')
	- set search scope (default: 'Title')
		- `Title`: search titles only
		- `Author`: search authors only
		- `Both`: search across titles and authors

Note: `alfred-eBooks` will search for Kindle Classic and the (new) Kindle app. If both are installed, the latter with be used.

## Basic Usage 📖

- launch with keyword (default: `!k`), or custom hotkey
- enter a string to search, according to the scope set in `Workflow Configuration`. A few search operators are available:
	- `--p` will filter for purchased books
	- `--l` will filter for loaned books
	- `--d` will filter for downloaded books
	- `--k` will filter for Kindle books
	- `--ib` will filter for Apple Books books
	- `--read` will filter for read books
- `enter` ↩️ will open the book in Apple Books (if downloaded) or the corresponding webpage on Amazon (if not downloaded)
- data is automatically cached for best performance. You can force a database refresh using the keyword `::books-refresh`

## Limitations &amp; known issues ⚠️

- I could not figure out how to open a specific book in the Kindle app via command line. If you know how to do that, let me know!
- I could not figure out how the Kindle app can tell if a book was first loaned, then purchased. Currently, if that is the case (i.e. a book was first loaned, then purchased), the book will appear as loaned.
- not tested thoroughly for user-uploaded documents.



## Acknowledgments 😀

- Thanks to the [Alfred forum](https://www.alfredforum.com) community!
- Icon from [SF symbols](https://developer.apple.com/sf-symbols/)

## Changelog 🧰

- 10-06-2024: version 0.2
- 02-28-2023: version 0.1


## Feedback 🧐

Feedback welcome! If you notice a bug, or have ideas for new features, please feel free to get in touch either on [Github](https://github.com/giovannicoppola/alfred-kindle), or on the [Alfred](https://www.alfredforum.com) forum.</string>
	<key>uidata</key>
	<dict>
		<key>24764E8D-FF48-42E7-9B54-E9D177080FA5</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>28939AD5-7FDB-44B4-87C5-BFCA352716C7</key>
		<dict>
			<key>xpos</key>
			<real>1325</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>487CE6DD-5966-4E3E-9D67-EF1D60023887</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>5330E514-8491-49F5-98D8-DED98E264BC1</key>
		<dict>
			<key>xpos</key>
			<real>1570</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>5603FD39-F2B3-4FF3-A373-E25879D5BD7F</key>
		<dict>
			<key>note</key>
			<string>script to close the 'All' window after opening the book, but it works inconsistently</string>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>61FE5DD2-9A3A-41E9-BA16-BCC00A3DD6C9</key>
		<dict>
			<key>xpos</key>
			<real>1140</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>7ECE7CAD-1161-4D39-A35A-DF2BD59EED1D</key>
		<dict>
			<key>xpos</key>
			<real>1355</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>BA9E997F-E08E-4947-BBB4-8BF84341ED1D</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>C201E860-5900-49B2-8980-4B8E5DA0A4C8</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>C4CF391F-F6A5-48BE-B5D0-B018D1393DA7</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>C9F9AE76-99B2-4432-91CD-AF8D39A92E25</key>
		<dict>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>EFFEB21A-8303-4FE0-8B9D-0302BE4E21EA</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!k</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to launch `alfred-kindle`</string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>📘</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Icon to show if the book is locally available on Kindle</string>
			<key>label</key>
			<string>Book Content Icon</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BookContent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>👻</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Icon to show if the book was previously loaned</string>
			<key>label</key>
			<string>Ghost Content Icon</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GhostContent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Check to show 'ghost' books</string>
			</dict>
			<key>description</key>
			<string>Show books not downloaded locally, or previously loaned</string>
			<key>label</key>
			<string>Show 'ghost' books</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SHOW_GHOST</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Title</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Title</string>
						<string>Title</string>
					</array>
					<array>
						<string>Author</string>
						<string>Author</string>
					</array>
					<array>
						<string>Both</string>
						<string>Both</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Search across book title, author, or both.</string>
			<key>label</key>
			<string>Search Scope</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>SEARCH_SCOPE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Kindle</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Kindle</string>
						<string>Kindle</string>
					</array>
					<array>
						<string>Apple Books</string>
						<string>iBooks</string>
					</array>
					<array>
						<string>Both</string>
						<string>Both</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Search across Kindle, Apple Books, or both.</string>
			<key>label</key>
			<string>Target library</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>TARGET_LIBRARY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>::books-refresh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Refresh book library databases</string>
			<key>label</key>
			<string>Force refresh keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>refreshkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-kindle</string>
</dict>
</plist>
